* {
  font-family: 'Helvetica', sans-serif;
}

body {
  margin-bottom: 2em;
}

pre {
  margin: 0 1.5em;
  padding: 0.75em;
  background-color: #dedede;
}

code *, code {
  font-family: 'Source Code Pro', monospace;
  font-size: 15pt;
  background-color: #dedede;
}

p code, li code {
  font-size: inherit;
  padding: 0.1em 0.2em;
}

header {
  text-align: center;
}

header h1 {
  font-size: 10em;
  margin: 0;
  line-height: 1em;
  margin-top: 0.25em;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
  text-decoration: none;
  color: inherit;
}

h1 > i, h2 > i, h3 > i, h4 > i, h5 > i {
  display: block;
  padding-left: 0.5em;
  visibility: hidden;
}

h1:hover > i, h2:hover > i, h3:hover > i, h4:hover > i, h5:hover > i {
  visibility: visible;
}

li {
  padding-top: 0.5em;
}

header ul {
  font-size: 2em;
}

a.header-link {
  color: inherit;
  text-decoration: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

ul.inline li {
  display: inline;
  margin: 0 1em;
  list-style: none;
}

.nostyle { list-style: none; }

.inline a {
  color: #616C66;
  text-decoration: none;
}

.install:hover {
  border-bottom: 5px solid #694E97;
}

.docs:hover {
  border-bottom: 5px solid #707EC9;
}

.contrib:hover {
  border-bottom: 5px solid #F5974A;
}

.report:hover {
  border-bottom: 5px solid #F5534A;
}

.container {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.versions {
  text-align: center;
}

.version {
  padding: 2em 0;
}

.version .platform {
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.btn {
  display: inline;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.25em;
  color: #FFF;
}

.btn-primary {
  background: linear-gradient(#52B648, #0A6500);
}

.btn-secondary {
  background: linear-gradient(#848584, #3F3F3F);
}

@media only screen and (max-width: 767px) {
  pre {
    overflow: scroll;
    margin: 0 1.5em;
    padding: 0.75em;
    background-color: #dedede;
  }

  header h1 {
    font-size: 5em;
  }

  ul.inline {
    margin: 0;
    padding: 0;
  }
  ul.inline li {
    width: 100%;
    display: block;
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
}
