<!-- /templates/customers/login.liquid -->

<h2>Login</h2>
{% form 'customer_login' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="customer[email]" />

<label for="customer_password">Password</label>
<input type="password" name="customer[password]" />

<input type="submit" value="Sign In" />

{% endform %}

<h2>Forgot Password</h2>
{% form 'recover_customer_password' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="email" />

<input type="submit" value="Submit" />

{% endform %}
